<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="jingtai/login/css/login.css">
    <script type="text/javascript" src="jingtai/login/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            //影藏
            $("#shou").hide();
            //给购物车的按钮绑定单击事件
            $(".bookbut").click(function(){
                //获取bookid
               var bookId = $(this).attr("id");            
                //设置请求的urt
                var url ="/postaddBookCar";
                //设置请求参数
                var param = {"bookId":bookId};
                //发送Ajax请求
                $.post(url,param,function(res){
                   if (res == "请先登录" ) {
                       alert(res)
                   }else{
                    $("#shou").show();
                    $("#bookmsg").text(res) 
                   }                             
                });
            });
        });    
    </script>      
</head>

<body text="purple"  bgcolor ="silver" >     
    <div id="header">
        <span>
            <h1 align="center">首页</h1> 
            <hr size="3px" width="100%" color="green" align="center"/>
        </span>
        {{if.Judge}}
        <div>
            <span>欢迎<span class="um_span">{{.Session.UserName}}</span>登录</span>
            <a href ="/deletecookie" >登出</a>
            <a href="/getCar">购物车</a> 
            <a href="/queryorder">我的订单</a>
            <a href="/">消息</a>
            {{if.SJudge}}
            <a href="/mybookshop">我的店铺</a>
            {{else}}
            <a href="/owner">成为店主</a>
            {{end}}
            
        </div>
        {{else}}
        <div>
            <a href ="/login" >登录</a><a href ="/regist" >注册</a>
        </div>
        {{end}}
        
    </div>

    <div id="main">
        <div id="book">
        <div class="book_cond">
            <form action="/pricepage" method="POST">
                价格：<input type="text" name="min" >元 - <input type="text" name="max" >元 
                <input type="submit" value="查询" >
            </form>
        </div>

        <div style="text-align: center;">
            <div>
                <span id="shou">你刚刚将<span style="color: royalblue;" id="bookmsg"></span>加入到购物车中</span>
            </div>
        </div>
        
        {{range .BooK}}
        <div id="b_list" style="font-size: x-large;" >
            <div class="img_div">
                <img class="book_img" alt="" src="{{.ImgPath}}" height="200" width="200"/>
            </div>
            <div class="book">
                <div class="book_name">
                    <span class="sp1">书名：</span>
                    <span class="sp2">{{.Title}}</span>
                </div>
                <div class="book_author">
                    <span class="sp1">作者：</span>
                    <span class="sp2">{{.Author}}</span>
                </div>
                <div class="book_price">
                    <span class="sp1">价格：</span>
                    <span class="sp2">{{.Price}}</span>
                </div>
                <div class="book_sales">
                    <span class="sp1">销量：</span>
                    <span class="sp2">{{.Sales}}</span>
                </div>
                <div class="book_stock">
                    <span class="sp1">库存：</span>
                    <span class="sp2">{{.Stock}}</span>
                </div>                
                <div class="book_shopname">
                    <span class="sp1">店名：</span>
                    <span class="sp2">{{.Shop.ShopName}}</span>
                </div>
                <div class="book_add">
                    {{if .Stock}}
                    <input id="{{.ID}}" type="button" value="购物车" class="bookbut"/>
                    {{else}}
                    <span>补货中</span>
                    {{end}}
                </div>
            </div>     
        </div>
        {{end}}    
        </div>
        <div id="page_nav">
            {{if .IsHasPrev}}
            <a href="/page">首页</a>
            <a href="/page?pageNo={{.PreviousPage}}">上一页</a>
            {{end}}
            当前是第{{.PageNo}}页.共{{.TotalPage}}页.共{{.TotalRecord}}条记录
            {{if .IsHasNext}}
            <a href="/page?pageNo={{.NextPage}}">下一页</a>
            <a href="/page?pageNo={{.TotalPage}}">末页</a>
            {{end}}
            到第<input value="{{.PageNo}}" name="pn" id="pn_input"/>页
            <input type="button" value="确定" id="sub"/>
            <script>
                $("#sub").click(function(){
                    var PageNo = $("#pn_input").val();
                    location = "/page?pageNo="+PageNo
                });
            </script>
        </div>   
    
    </div>
</body>
</html>